<%= player_1_name %>, who will you play against?
<br>
1   Human
2   Random AI
3   Sequential AI
4   Unbeatable AI

<form method = "post" action = "choose_opponent">
	<input type = "number" min = 1 max = 4 name = "opponent">
<br>
<input type = "submit">
</form>


