<p id="maintextsize">
</p>
<p class="somecolor">
</p>
<br>
	WELCOME TO 
	STEPH'S TIC-TAC-TOE!
<br>
<br>
	<form action="/choose_game" method="post">
	    <input type="text" name="player_1_name" autofocus="autofocus" placeholder="Enter your name">
	    <input type="submit">
	</form>
