<!DOCTYPE html>
<head>
	<title> Steph's TicTacToe </title>
	<link rel="stylesheet" href = "css/style.css"> 
</head>

<body>
<%=yield%>
<header>

<p>Hello, welcome to TicTacToe.</p>	
	
</header>


</body>
</html>