<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href ="css/style.css"> 

	<title>Steph's TicTacToe</title>


</head>
<body>
		<%= yield %>

	<header>
			<ul>
				<li><a href = "/">Play Game</a></li>
				<li><a href = "/Contact">Rules & Strategies</a></li>
				<li><a href = "/History">History</a></li>
			</ul>
	</header>


	</body>
	</html>
	<footer><p><a href = "http://www.minedminds.org"target =              	 "_blank">Mined Minds</a><br>&copy; 2016</p>
        </footer>