.somecolor {color: red; font-weight: bolder; }
/*.maintextsize {font-size:4.0rem; text-align: center;}       
body {
    background-image: url("TicTackBack_400x400.png");
    
    background-position: right top;
    background-attachment: fixed;
} 
ul{ text-align:center;  }           


li a {  color: red  } 

li { display:inline; 
  padding-right:1.0rem;  
  font-size:2.0rem; } 

  img {display: block;margin: auto;}
p {color: red;
font-size:2.0rem;                                     font-weight:bold; }
footer{ background-color:gray;                color:#ffffff;  }             
footer p { text-align: center;  font-size:2.5rem; font-color:blue; } 

*/